app/cache
data/code-changes/*
web/code-changes/*
web/writable/stats/*
web/phpBB/*
vendor
*.cache
*.log
bin/doctrine*
app/config/parameters.yml
/.idea/

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
