body {
	color:#484848;
	font-family:Verdana,sans-serif;
	font-size:12px;
	margin:0;
	min-width:900px;
	padding:0;
}
h1, h2, h3, h4 {
	font-family:"Trebuchet MS",Verdana,sans-serif;
}
h1 {
	font-size:20px;
	margin:0;
	padding:0;
}
h2, .wiki h1 {
	border-bottom:1px solid #BBBBBB;
	color:#444444;
	font-size:18px;
	margin:0 0 10px;
	padding:2px 10px 1px 0;
}
h3, .wiki h2 {
	border-bottom:1px solid #BBBBBB;
	color:#444444;
	font-size:16px;
	margin:0 0 10px;
	padding:2px 10px 1px 0;
}

h4, .wiki h3 {
	border-bottom:1px dotted #BBBBBB;
	color:#444444;
	font-size:13px;
	margin-bottom:5px;
	padding:2px 10px 1px 0;
}

#wrapper {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:white none repeat scroll 0 0;
}

#header {
	background-color:#3C78B5;
	color:#F8F8F8;
	height:2.4em;
	margin:0;
	padding:4px 8px 0 6px;
	position:relative;
}
#header a {
	color:#F8F8F8;
}
#header h1 a.ancestor {
	font-size:80%;
}

#content {
	background-color:#FFFFFF;
/*	border-right:1px solid #DDDDDD;*/
	margin:0;
	padding:6px 10px 10px;
	width:600px;
	z-index:10;
}

* html #content {
	margin-top:0;
	padding:6px 10px 10px;
	width:600px;
}

html > body #content {
	min-height:600px;
}

* html body #content {
	height:600px;
}

a, a:link, a:visited {
	color:#2A5685;
	text-decoration:none;
}
a:hover, a:active {
	color:#C61A1A;
	text-decoration:underline;
}
a img {
	border:0 none;
}

a.issue.closed, a.issue.closed:link, a.issue.closed:visited {
	color:#999999;
	text-decoration:line-through;
}

.box {
	background-color:#F6F6F6;
	border:1px solid #E4E4E4;
	color:#505050;
	line-height:1.5em;
	margin-bottom:10px;
	padding:6px;
}

li p {
	margin-top:0;
}

