<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule "^docs/code/develop-ascraeus/(.*)" "/docs/code/3.1.x/$1" [R=301,L]
    RewriteRule "^docs/code/develop-olympus/(.*)" "/docs/code/3.0.x/$1" [R=301,L]
    
    RewriteRule "^docs/dev/31x/(.*)" "/docs/dev/3.3.x/$1" [R=301,L]
    RewriteRule "^docs/dev/32x/(.*)" "/docs/dev/3.2.x/$1" [R=301,L]

    RewriteRule "^(.*/)?\.git/" - [F,L]

    RewriteRule ^/?$ app.php [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
