{% extends "PhpbbArea51Bundle::layout.html.twig" %}

{% block sub_menu %}
        <div id="phpbb-sub-header">
            <div class="fixed-width">
                <h1>Home of phpBB Development</h1>
            </div>
        </div>
{% endblock %}

{% block body %}
<div class="clearfix">
    <h2>Main Projects</h2>
    <p>These are the main projects that phpBB develops.</p>
    <ul class="contribution-list">
        <li>
            <b><a href="https://github.com/phpbb/phpbb3" title="phpBB3">phpBB3</a></b><br />
            <p>phpBB3 is the current version of the main phpBB software. The phpBB3 repository also contains an archive of phpBB2.
            <br />
            <a href="https://github.com/phpbb/phpbb3">[Github Repository]</a> 
            <a href="http://code.phpbb.com/mailman/listinfo/phpbb-commits">[Commit Mailing List]</a>
            <a href="http://tracker.phpbb.com/browse/PHPBB3">[Tracker]</a></p>
        </li>
        <li>
            <b><a href="https://github.com/phpbb/phpbb" title="phpBB4">phpBB4</a></b><br />
            <p>phpBB4 is the next major version of the phpBB software currently in development. It is a total rewrite of the phpBB Software.
            <br />
            <a href="https://github.com/phpbb/phpbb">[Github Repository]</a> 
            <a href="http://code.phpbb.com/mailman/listinfo/phpbb4-commits">[Commit Mailing List]</a>
            <a href="http://tracker.phpbb.com/browse/PHPBB4">[Tracker]</a></p>
        </li>
        <li  class="line-break full-line">
            <b><a href="https://github.com/phpbb/documentation" title="Documentation">Documentation</a></b><br />
            <p>The documentation project contains end user documentation for stable phpBB releases.
            <br />
            <a href="https://github.com/phpbb/documentation">[Github Repository]</a> 
            <a href="http://code.phpbb.com/mailman/listinfo/documentation-commits">[Commit Mailing List]</a>
            <a href="https://github.com/phpbb/documentation/issues">[Tracker]</a></p>
        </li>
    </ul>
</div>

<div class="clearfix">
    <h2>phpBB Sub-Projects</h2>
    <ul class="contribution-list">
        <li>
            <b><a href="https://github.com/phpbb/automod" title="AutoMOD">AutoMOD</a></b><br />
            <p>AutoMOD is a tool for installing and removing phpBB MODifications. It can be easily installed on any phpBB3 board.
            <br />
            <a href="https://github.com/phpbb/automod">[Github Repository]</a> 
            <a href="http://code.phpbb.com/mailman/listinfo/modsmanager-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/modteamtools/">[Tracker]</a></p>
        </li>
        <li>
            <b><a href="https://github.com/phpbb/customisation-db" title="Titania">Titania</a></b><br />
            <p>Titania is the customisation database that is used on www.phpbb.com and international support sites.
            <br />
            <a href="https://github.com/phpbb/customisation-db">[Github Repository]</a> 
            <a href="http://code.phpbb.com/mailman/listinfo/customisationdb-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/titania/">[Tracker]</a></p>
        </li>
        <li class="line-break">
            <b><a href="https://github.com/phpbb/support-toolkit" title="STK">Support Toolkit</a></b><br />
            <p>The support toolkit is a tool that can be used to repair your board's database and files.
            <br />
            <a href="https://github.com/phpbb/support-toolkit">[Github Repository]</a> 
            <a href="http://code.phpbb.com/mailman/listinfo/support-toolkit-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/supportteamtools/">[Tracker]</a></p>
        </li>
        <li>
            <b><a href="https://github.com/phpbb/modx_creator_phpbb" title="phpBB MODX Creator">MODX Creator phpBB</a></b><br />
            <p>The phpBB MODX Creator adds a MODX install.xml file creation tool to your phpBB installation. It allows you to enter the information then turns it into an XML file
            <br />
            <a href="https://github.com/phpbb/modx_creator_phpbb">[Github Repository]</a> 
            <a href="http://code.phpbb.com/mailman/listinfo/modxtools-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/modteamtools/">[Tracker]</a></p>
        </li>
        <li class="line-break">
            <b><a href="https://github.com/phpbb/modx_creator_offline" title="Offline MODX Creator">MODX Creator Offline</a></b><br />
            <p>The Offline MODX Creator is a standalone MODX install.xml file creation tool. It allows you to enter the information then turns it into an XML file
            <br />
            <a href="https://github.com/phpbb/modx_creator_offline">[Github Repository]</a> 
            <a href="http://code.phpbb.com/mailman/listinfo/modxtools-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/modteamtools/">[Tracker]</a></p>
        </li>
        <li>
            <b><a href="https://github.com/phpbb/quickinstall" title="QuickInstall">QuickInstall</a></b><br />
            <p>QuickInstall allows you to create multiple pre-populated phpBB installations for testing or development purposes.
            <br />
            <a href="https://github.com/phpbb/quickinstall">[Github Repository]</a> 
            <a href="http://code.phpbb.com/mailman/listinfo/modxtools-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/modteamtools/">[Tracker]</a></p>
        </li>
        <li class="line-break">
            <b><a href="https://github.com/phpbb/umil" title="UMIL">UMIL</a></b><br />
            <p>UMIL is a project that MODs use to create install files to execute SQL queries and purge cache.
            <br />
            <a href="https://github.com/phpbb/umil">[Github Repository]</a> 
            <a href="http://code.phpbb.com/mailman/listinfo/umil-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/modteamtools/">[Tracker]</a></p>
        </li>
        <li>
            <b><a href="https://github.com/phpbb/modx" title="MODX">MODX</a></b><br />
            <p>MODX is the standard for install instructions and meta-data file for phpBB Modifications.
            <br />
            <a href="https://github.com/phpbb/modx">[Github Repository]</a> 
            <a href="http://code.phpbb.com/mailman/listinfo/modxtools-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/modteamtools/">[Tracker]</a></p>
        </li>
        <li class="line-break">
            <b><a href="https://github.com/phpbb/mpv" title="MPV">MPV</a></b><br />
            <p>The Modification Pre-Validator is a validation tool that checks for common basic errors.
            <br />
            <a href="https://github.com/phpbb/mpv">[Github Repository]</a> 
            <a href="http://code.phpbb.com/mailman/listinfo/modxtools-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/modteamtools/">[Tracker]</a></p>
        </li>
        <li>
            <b><a href="https://github.com/phpbb/modx_editor" title="MODX Editor">MODX Editor</a></b><br />
            <p>The MODX Editor is a desktop application that allows you to modify MODX files.
            <br />
            <a href="https://github.com/phpbb/modx_editor">[Github Repository]</a> 
            <a href="http://code.phpbb.com/mailman/listinfo/modxtools-commits">[Commit Mailing List]</a>
            <a href="http://www.phpbb.com/bugs/modteamtools/">[Tracker]</a></p>
        </li>
    </ul>
</div>
{% endblock %}
