Options +FollowSymlinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} -f [OR] 
RewriteCond %{REQUEST_FILENAME} -d [OR] 
RewriteCond %{REQUEST_FILENAME} -l
RewriteRule . - [L]
 
RewriteCond %{REQUEST_URI} !^/docs/3
RewriteRule ^(.*)$ /docs/30x/$1 [L,R=301]
