<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect to HTTPS, except for /phpBB
	RewriteCond %{HTTPS} off
	RewriteCond %{REQUEST_URI} !^/phpBB
	RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]

    RewriteRule "^(.*/)?\.git/" - [F,L]

    RewriteRule ^/?$ app.php [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
