<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteRule "^(.*/)?\.git/" - [F,L]

    RewriteRule ^/?$ app.php [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ app.php [QSA,L]
</IfModule>
