body {
	margin:0;
	padding: 0;
}

* html #content {
	margin-top:0;
}




#phpbb-header-bar {
	-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;
	background:#114070 none repeat scroll 0 0;
	display:block;
	position:relative;
	overflow: hidden;
	font-family: arial,FreeSans,Helvetica,sans-serif;
    font-size: 12px;
}
#phpbb-header-bar ul.phpbb-menu {
	font-family:arial,FreeSans,Helvetica,sans-serif;
	list-style-type:none;
	margin:0px 0 0 10px;
	padding:0;
}
#phpbb-header-bar .phpbb-menu li {
	display:inline;
	margin:0;
}
#phpbb-header-bar .phpbb-menu li a {
	font-size:12px;
	background-color:#325C82;
	color:#F0F0F0;
	display:block;
	float:left;
	line-height:17px;
	margin-right:5px;
	margin-top:13px;
	padding:4px 0;
	text-align:center;
	text-decoration:none;
	width:85px;
}
#phpbb-header-bar .phpbb-menu li a:hover, #phpbb-header-bar .phpbb-menu li.active a {
	background-color:#3C78B5;
	color:#FFFFFF;
}

#phpbb-header-bar .phpbb-menu .phpbb-logo a:hover, #phpbb-header-bar .phpbb-menu .phpbb-logo a {
	background-color:#114070;
	margin-top:0px;
	margin-right:8px;
	padding-top:3px;
	padding-bottom:0px;
	width:222px;
}

#exit-phpbb {
	float:right;
	margin-top:3px;
	overflow:hidden;
}

#phpbb-sub-header {
	background-color:#3C78B5;
	color:#F8F8F8;
	min-height:29px;
	margin:0;
	padding:4px 8px 0 6px;
	line-height:16px;
	position:relative;
	overflow: hidden;
}
#phpbb-sub-header a, #phpbb-sub-header h1 {
	font-family: "Trebuchet MS",Verdana,sans-serif;
	color:#F8F8F8;
	font-size:20px;
	font-weight:bold;
	border-bottom:none;
	padding-bottom:0px;
	line-height:24px;
}

#phpbb-sub-header h1 a.ancestor {
	font-size:80%;
}

#phpbb-sub-header div.fixed-width {
	width:800px;
}

#phpbb-sub-header a.phpbb-tab, #phpbb-sub-header a:active.phpbb-tab, #phpbb-sub-header a:visited.phpbb-tab, #phpbb-sub-header a:hover.phpbb-tab {
	font-family:Verdana,sans-serif;
	display: block;
	float: right;
	color: #000000;
	font-size: 12px;
	background-color: #EEEEEE;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0px;
	margin-top:5px;
	margin-right:5px;
}

#phpbb-sub-header a:hover.phpbb-tab {
	background-color: #FFFFFF;
}

#phpbb-sub-header a.active, #phpbb-sub-header a:active.active, #phpbb-sub-header a:visited.active, #phpbb-sub-header a:hover.active {
	background-color: #FFFFFF;
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px)
{
	#wrap {
		padding: 0 5px;
		margin-top: 0 !important;
	}

	#phpbb-header-bar .phpbb-menu li.phpbb-logo {
		display: block;
		overflow: hidden;
	}

	#phpbb-header-bar .phpbb-menu li.phpbb-logo a {
		float: none;
		margin: 0 auto;
	}

	#phpbb-header-bar .phpbb-menu li a {
		margin-top: 0;
	}

	#phpbb-sub-header > div:first-of-type, #search-box {
		display: none;
	}
}
